
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


@import url(/css/imagens.css);
@import url(/css/header.css);
@import url(/css/header2.css);
@import url(/css/sobre.css);
@import url(/css/atendimento.css);
@import url(/css/serviços.css);
@import url(/css/atuaçao.css);
@import url(/css/mensagem.css);
@import url(/css/mapa.css);
@import url(/css/footer.css);




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
