
/* ------ HEADER ------ */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    position: fixed;
}

/* NAV */
header nav{
    display: flex;
    gap: 20px;
}

/* LI */
header li{
    display: flex;
    gap: 20px;
}
/* A */
header a{
    text-decoration: none;
    gap: 20px;
    font-size: 18px;
    text-transform: capitalize;
    color: #272425;
    font-weight: 400;
}

/*---- COMPARTILHAR ------ */
.compartilhar{
    display: flex;
    gap: 10px;
}
/* SPAN */
.compartilhar span{
    font-size: 18px;
    color: #272425;
    font-weight: 400;
}